body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-image: url(https://m.media-amazon.com/images/I/81H7EsnZb+L._AC_UF894,1000_QL80_.jpg);
    color: #2b2d42;
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center; 
    background-attachment: fixed; 
    height: 100vh;
}
h1 {
    color: #ff0015;
    font-family: Jokerman;
}
canvas {
    margin: 20px auto;
    display: block;
    background-color: #ffffff;
    border: 5px solid #ffffff;
    border-radius: 50%;
}
button {
    padding: 10px 20px;
    background-color: #007a29;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#result {
    margin-top: 20px;
    font-size: 1.2em;
    color: #000000;
    background-color: #ffffff;
    opacity: 0.75;

}

#spin {
    font-weight: bold; 
}

label {
    color: #000000;
    font-weight: bold;
    font-size: xx-large;
    font-family: Jokerman;
    background-color: #ffffff;
    opacity: 0.75;
}